@import '../../../GlobalStyles/Settings.scss';

$padding-bottom: 24px;
$image-size: 21px;
$image-padding-right: 16px;
$image-bullets-gap: 10px;
$elements-width:80%;
$emailTexts-padding-top:40px;

$input-border-radius:8px;
$input-padding: 16px;
$input-margin-top:8px;

$tablet-image-bullets-gap: 5px;
$tablet-email-texts-padding-top: 20px;

$phone-padding-bottom: 24px;
$phone-elements-width:100%;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-dark-navy;

    .title {
        @include font-heading;
        padding-bottom: $padding-bottom;
    }

    .description {
        @include font-body;
        width: $elements-width;
        padding-bottom: $padding-bottom;
    }

    .bullets {
        @include font-body;
        display: flex;
        flex-direction: column;
        gap: $image-bullets-gap;

        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        img {
            width: $image-size;
            aspect-ratio: 1/1;
            padding-right: $image-padding-right;
        }
    }

    .emailTexts {
        @include font-body-small;
        width: $elements-width;
        display: flex;
        justify-content: space-between;
        padding-top: $emailTexts-padding-top;

        span:nth-of-type(2) {
            color: $color-vermellion;
        }
    }

    .input {
        @include font-body;
        width: calc($elements-width - ($input-padding * 2));
        border-radius: $input-border-radius;
        border: 1px solid $color-grey;
        padding: $input-padding;
        margin-top: $input-margin-top;

        &:hover {
            cursor: pointer;
            border: 1px solid $color-dark-navy;

            &::placeholder {
                color: $color-dark-navy;
                opacity: 1;
            }
        }

        &::placeholder {
            color: $color-grey;
        }
    }

    .inputError {
        background-color: $color-vermellion-light;
        border: 1px solid $color-vermellion;

        &::placeholder {
            color: $color-vermellion;
            opacity: 1;
        }
    }

    .button {
        width: calc($elements-width - $input-padding);
        margin-top: 24px;
        margin-left: -14px;
    }
}


@media all and (max-width: 908px) {

    .container {

        .title {
            font-size: 30px;
        }

        .description {
            line-height: 100%;
        }

        .bullets {
            line-height: 100%;
            gap: $tablet-image-bullets-gap;
        }

        .emailTexts {
            line-height: 100%;
            padding-top: $tablet-email-texts-padding-top;
        }

    }

}

@media all and (max-width: 688px) {

    .container{
        padding: 20px;

        .title {
            @include phone-font-bold;
            align-self: flex-start;
            padding-bottom: $phone-padding-bottom;
        }
    
        .description {
            @include phone-font-body;
            align-self: flex-start;
            width: $phone-elements-width;
            padding-bottom: $padding-bottom;
        }
    
        .bullets {
            align-self: flex-start;
            @include phone-font-body;
        }
    
        .emailTexts {
            @include phone-font-body-small;
            width: calc($phone-elements-width - 24px);
            margin-left: 10px;
        }
    
        .input {
            @include font-body;
            width: calc($phone-elements-width - 48px);
            margin-top: $input-margin-top;
        }
    
        .button {
            width: calc($phone-elements-width - 26px);
            margin-left: -10px;
            padding-left: 0px;
        }
    }

   
}